@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


:root{
    --cor-de-fundo:#950000;
    --cor-de-texto:#ffffff;
    --fundo-senha:#000000;
    --fundo-texto:#000000;
    --borda:#000000;
    --tipo-fonte: "Bebas Neue", sans-serif;
}

*{
  font-weight: 400;
  
}

   body{
    background-color: var(--cor-de-fundo);
    color: var(--cor-de-texto);
    font-family: var(--tipo-fonte);
}

   .titulo-principal{
    font-weight: 700px;
}

   .titulo-secundario{
    font-size:24px;
}
   .conteudo-titulo{
    text-align: center;
    margin-top: 80px;
};
   .conteudo-senha{
    margin-top: 80px;
    background-color: var(--fundo-senha);
    padding: 24px;
    border-bottom: 6px solid var(--borda);
}
   #campo-senha{
    background-color: var(--fundo-texto);
    border: none;
    color: var(--cor-de-texto);
    font-size: 40px;
    margin-left: 20px;
    width: 70%;
}
#campo-senha:focus{
outline: none;
}
.titulo{
    font-weight: "Open Sans", sans-serif;
}
.rng-senha{
    background-color: var(--fundo-texto);
    text-align: center;
}
.conteudo{
    max-width: 1200px;
    margin: 0 auto;
}
.parametro{
    background-color: var(--fundo-texto);
    border: 2px solid var(--borda);
    margin-top: 32px;
    padding: 24px;
}
.parametro-titulo{
    font-family: var();
    font-size: 38px;
}
.parametro-senha__titulo{
    font-size: 24px;
}
.parametro-coluna__senha{
display: flex;
flex-direction: column;
justify-content: center;
}
.parametro--senha{
    width: 50%;
    margin: 0 auto;
}
.parametro-senha{
    width: 50%;
    margin: 0 auto;
 }
.parametro-senha-botoes{
    display: flex;
    justify-content: center;
}
.parametro-enha___botao{
    background-color: var(--fundo-texto);
}
.parametro--coluna-senha{
    flex-direction: column;
    justify-content: center;
}
@media screen and (min-whidth: 768px){
    .parametro--coluna-senha{
        flex-direction: row;
    }
}
